.Lobby,
.StartGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.ColorCode {
  height: 1rem;
  width: 1rem;
  border: 1px solid rgb(106, 122, 129);
  margin-left: 1rem;
  vertical-align: text-top;
  margin-right: 3px;
}

.Game {
  padding-top: 1rem;
  padding-left: calc(30% - 190px);
  padding-right: calc(30% - 190px);
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.Role {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: black;
  display: table;
}

.Legend {
  text-align: center;
  padding-top: 1rem;
}

/* Buttons Start*/
.RoleButton {
  float: right;
  font-size: 12px;
  color: rgb(106, 122, 129);
}

.RoleButton:focus, .RoleButton:active, .RoleButton.hover {
  outline: none !important;
  box-shadow: none;
  background: transparent;
  color: rgb(106, 122, 129);
}

.NicknameButton {
  color: rgb(106, 122, 129);
}

.NicknameButton:focus, .NicknameButton:active, .NicknameButton.hover {
  outline: none !important;
  box-shadow: none;
  background: transparent;
  color: rgb(106, 122, 129);
}

.SelectTeamButton {
  color: #28a745
}

.SelectTeamButton:focus, .SelectTeamButton:active, .SelectTeamButton:hover {
  outline: none !important;
  box-shadow: none;
  background: transparent;
  color: #28a745
}

.SuccessButton {
  color: #28a745
}

.SuccessButton:focus, .SelectTeamButton:active, .SelectTeamButton:hover {
  outline: none !important;
  box-shadow: none;
  background: transparent;
  color: #28a745
}

.VotingButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.RejectButton {
  color:tomato;
  border-color: tomato;
  outline-color: tomato;
}

.SideBySideButton {
  margin: 1rem;
  margin-bottom: 0;
}
/* Buttons End */

.PlayerSelectLegend {
  display: flex;
  flex-direction: row;
}

.RoundResultItems,
.PlayerListItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
}

.RoundResult,
.PlayerList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Round {
  border-bottom: 1px solid #000;
}

.singleResult {
  width: 2rem;
  height: 3rem;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


/* Card Start */
.PlayerCol {
  padding: .5rem;
}

.RoundCol {
  padding: 0;
}

.RoundCardBody
 {
  padding: 0;
}

.PlayerCardBody {
  padding: 1px;
}

.PlayerCard {
  border: 0;
  cursor: pointer;
}

.cardInfo,
.LegendText {
  font-size: 12px;
  margin-bottom: 0;
}

.RoundCurrentRound {
  border-color: #28a745
}
/* Card End */

/* Font Awesome Icons Start*/
.Knight,
.PlayerPicked,
.Success {
  color:rgb(15, 132, 228);
}

.Spy,
.Fail,
.Warning,
.Thumbsdown {
  color: tomato;
}

.Thumbsup {
  color: #28a745
}

.RoundIcon {
  font-size: 3rem;
}

.Iconsize {
  font-size: 1rem;
}

.MissionVoteSize {
  font-size: 2rem;
}

.Thumbsize {
  font-size: 13px;
}
/* Font Awesome Icons End*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
